<h1>Est치s en el index de tu p치gina</h1>

<% @services.each do |service| %>
  <div class="mt-3">
    <h2><%= service.title %></h2>
    <p>Due침o: <%= service.user.first_name %></p>
    <%= cl_image_tag service.photos.first.key, height: 300, width: 400, crop: :fill %>
    <div>
      <%= link_to "Ver m치s", service_path(service), class:"btn btn-success" %>
    </div>
  </div>
<% end %>
