    <form class="row g-4" data-controller="search" data-action="submit->search#filter">
      <div class="col-md-12 mt-8">
        <label for="inputEmail4" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="inputEmail4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Destino</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Busca tu proximo destino" data-search-target="input" data-action="keyup->search#search">
        <div data-search-target="suggestions" class="d-none border rounded p-3 mt-2">
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
      </div>
    </form>
