    <form class="row g-3">
      <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="inputEmail4">
      </div>
      <%# <div class="col-md-6">
        <label for="" class="form-label">Vuelta</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div> %>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Destino</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Busca tu proximo destino">
      </div>
      <div class="col-md-5">
        <label for="inputCity" class="form-label">N° Pasajeros</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </form>
