.card-category {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

#banner{
  overflow: hidden;
}

#service_show{
  margin-left: 6rem;
}
