#show_cart{

  button{
    border-radius: 50%;
    background-color: #ffe3a7;
    box-shadow: 0 2px 3px #F1A501;
    transition: 0.2s ease;
    border: 0;
  }

  #minus:hover, #plus:hover {
    background-color: #f7b935e1

  }
  .cards{
    width: auto;
  }

  .poster{
    img {
      border-radius: 20px;

    }
  }
}
