.image-container {
  position: relative;
  height: 100vh; /* Ajusta la altura deseada */
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
}
